version: '1.0.{build}'
image: Visual Studio 2019
branches:
  only:
  - master
init:
  # Good practise, because Windows line endings are different from Unix/Linux ones
  - cmd: git config --global core.autocrlf true
install:
  # Install repo specific stuff here
before_build:
  # Display .NET Core version
  - cmd: dotnet --version
  # Display minimal restore text
  - cmd: dotnet restore ./Dionys.Web/Dionys.Web.csproj --verbosity m
  - cmd: dotnet restore ./Dionys.Web.Infrastructure/Dionys.Infrastructure.csproj --verbosity m
clone_depth: 1
test_script:
  # restore packages for our unit tests
  - cmd: dotnet restore ./Dionys.Web.Tests/Dionys.Web.Tests.csproj --verbosity m
  # run the unit tests (requires changing into the test directory)
  - cmd: cd Dionys.Web.Tests
  - cmd: dotnet test
on_finish :
  # any cleanup in here
deploy: off
